body{
    display: flex;
    justify-content: space-between;
}
.books{
    box-shadow: 0px 2px 5px lightgray;
    
    width: 400px;
}
div{
    margin: 25px;
}
.link {
    color: #007185;
}
.color-title{
    color:#565959;
}